mat-toolbar{
  padding: 0;
}

.header {
  display: flex;
  align-items: center;
  top: 0;
  left: 0;
}

.header a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #333;

}
 
.header .WIVI_Modas {
 
 height: 85px;

 

 
 

}

.header .title-group {
  padding-left: 25px;
}

.header .title-group i {
  padding-right: 5px;
}