form {
  display: flex;
  flex-direction: column;
}

button {
  margin-top: 15px;
  margin-right: 20px;
  margin-bottom: 20px;
}

mat-card-title {
  font-size: 25px;
  font-weight: 600;
  color: rgb(8, 56, 56);
}